<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <!-- 引入 Prism 的主题样式 -->
  <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-okaidia.css" rel="stylesheet" />
  <!-- 引入 Prism 的核心脚本 -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
  <!-- 引入行号插件的样式 -->
  <link href="https://cdn.jsdelivr.net/npm/prismjs/plugins/line-numbers/prism-line-numbers.css" rel="stylesheet" />
  <!-- 引入行号插件的脚本 -->
  <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
</head>
<body>
  {{ content }}
</body>
</html>